/* REUSEABLE CSS */
a {
  text-decoration: none;
}

.icon-small {
  height: 16px;
  width: 18px;
}

.icon {
  height: 24px;
  width: 24px;
}

.icon-mid {
  height: 36px;
  width: 36px;
}

.icon-big {
  height: 48px;
  width: 48px;
}

.wp-2 {
  letter-spacing: -1.1px;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus {
  outline: revert;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper {
  text-transform: uppercase;
}

.hover-active:hover,
.hover-active:active {
  background-color: #6c757d;
  color: #fff;
  
  & > a {
    color: #fff;
  }
}

.grey {
  color: #495057;
}

.bold {
  font-weight: bold;
}

.gap-10 {
  gap: 10px;
}

.gap-5 {
  gap: 5px;
}

.large-button {
  display: flex;
  align-items: center;
  transition: all 0.4s;
  border-radius: 7px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
