/* ****************************************** */
/* HEADING OF SECTION */
/* ****************************************** */

/* <!-- 996 636 --> */
/* 1992 1272 */

/* ***************************************** */
/* HERO SECTION FOR PROJECTS */
/* ***************************************** */

.hero-section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.hero-section__heading {
  height: 100vh;
  width: 25%;
  /* background-color: black; */
  position: relative;
}

.heading {
  font-size: 4.2rem;
  text-align: center;
  padding: 2rem 0;
  color: #555;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  border-bottom: 2px solid black;
  margin-bottom: 4rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-section__cards {
  height: 100vh;
  width: 75%;
  display: grid;
   grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.hero-section__card {
  border-radius: 7px;
  background-color: white;
  height: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  /* text-align: center; */
}

.card-btn{
  display: block;
  width: 50%;
  text-align: center;
}

.flex-end{
  margin-top:auto;
}

.languages{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.languages div{
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* ****************************************** */
/* HERE STARTS THE SECTION */
/* ****************************************** */

/* PROJECT IMAGE SECTION  */

.project-section {
  height: 100%;
  max-width: 135rem;
  margin: 6rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.projects {
  max-width: 135rem;
  height: 40rem;
  display: flex;
  background-color: #6c757d;
  align-items: center;
  gap: 3rem;
  border-radius: 7px;
  color: #fff;
  transition: all 0.5s;
}

.project-images {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.project-left {
  padding: 0 0 0 4rem;
}

.project-right {
  padding: 0 4rem 0 0;
}

.desktop-version {
  width: 48rem;
  height: 30rem;
}

.desktop-single {
  width: 52rem;
}

.mobile-version {
  width: 16rem;
  height: 35rem;
}

.mobile-version img,
.desktop-version img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.projects--hidden{
  opacity: 0;
  transform: translateY(8rem);
}

/* PROJECT DESCRIPTION */

.project-description {
  width: 40%;
  height: 40rem;
  background-color: #343a40;
  font-size: 1.8rem;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding: 0 3.7rem;
}

.project-right .project-description {
  margin-right: auto;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.project-left .project-description {
  margin-left: auto;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.heading-description {
  font-size: 2.4rem;
}

/* PROJECT LINKS */

.project-links {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.visit-link,
.visit-code-link {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #ccc;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  transition: all 0.4s;
}

.currently-working-img {
  width: 50rem;
  height: 50rem;
  display: block;
  margin: 0px auto;
}

.section-other {
  height: 70rem;
  width: 100%;
}
