@media (max-width: 86em) {
  html {
    font-size: 60%;
  }

  .nav-ul {
    font-size: 1.8rem;
  }

  .achivement-list-item {
    flex-direction: column;
    gap: 0rem;
  }

  .project-content {
    width: 20%;
    gap: 1.2rem;
  }

  .project-img-div {
    gap: 1.2rem;
  }

  .project-img {
    height: auto;
    width: 35%;
  }

  .project-description {
    gap: 2rem;
  }

  .hero-section__card {
    height: 32%;
  }
}

@media (max-width: 67em) {
  body {
    background-color: white;
    background-image: none;
  }

  html {
    font-size: 58%;
  }

  .nav-container {
    background-color: #ced4da;
    width: 100%;
  }

  header.sticky {
    background-color: #ced4da;
  }

  .section {
    flex-direction: column;
    margin: 50px auto;
    width: 95%;
  }

  .left-box {
    margin: 50px auto;
    width: 72%;
    padding: 0px 1rem;
  }

  .right-box {
    width: 100%;
    gap: 20px;
  }

  .languages-icon-container {
    width: 90%;
    margin: 30px auto;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .languages-icon-div {
    margin: auto;
  }

  .desktop-version {
    width: 35rem;
    height: 23rem;
  }

  .mobile-version {
    width: 14rem;
    height: 27rem;
  }

  .project-description {
    gap: 2rem;
  }

  .project-left {
    padding: 0 0 0 2rem;
  }

  .project-right {
    padding: 0 2rem 0 0;
  }

  .project-images {
    gap: 2rem;
  }

  .projects {
    gap: 2rem;
  }

  .nav-links {
    padding: 0;
  }

  .hero-section {
    padding-top: 6rem;
    flex-direction: column;
  }

  .hero-section__cards {
    width: 100%;
    height: 50vh;
  }

  .hero-section__card {
    background-color: #343a40;
    color: white;
    font-size: 1.8rem;
    height: 100%;
  }

  .heading {
    font-size: 6.4rem;
  }

  .hero-section__heading {
    width: 100%;
    height: 30vh;
  }
}

@media (max-width: 52em) {
  html {
    font-size: 55.5%;
  }

  .right-box {
    width: 75%;
    gap: 20px;
    margin: 0 auto;
  }

  /* NAVBAR  */
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 5px;
  }

  .responsive-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    align-items: center;
    background-color: #ced4da;
    height: 7rem;
    font-size: 1.8rem;
  }

  .nav-buttons {
    gap: 2rem;
    width: 100%;
  }

  .nav-container {
    height: 0;
    width: 0;
    padding: 0;
  }

  .logo-container {
    padding: 9px;
  }

  .nav-ul {
    display: none;
  }

  .nav-ul-open {
    display: flex;
    padding: 20px;
    width: 24rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ced4da;
    position: absolute;
    top: 7.5rem;
    right: 2.3rem;
    border-radius: 10px;

    & > .home-class {
      display: none;
    }
  }

  .right-box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .responsive-grid3-grid4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
  }

  .grid-item2,
  .grid-item3 {
    width: 45%;
    height: 12rem;
    padding: 1rem;
  }

  .grid-item4 {
    height: 36rem;
  }

  .project-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .hover-active:hover,
  .hover-active:active {
    background-color: white;
    border-radius: 8px;
    color: black;

    & > a {
      color: black;
    }
  }

  .project-div {
    padding: 3.2rem 1rem;
  }

  .project-img-div {
    width: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-img-div div {
    padding: 0 1rem;
    width: 100%;
  }

  .project-img {
    width: 100%;
  }

  .project-content p {
    margin-left: 0;
  }

  .grid-but1 {
    height: 6rem;
  }

  .projects {
    flex-direction: column;
    height: 70rem;
    padding: 3rem 0 0 0;
    gap: 3rem;
  }

  .project-right {
    flex-direction: column-reverse;
  }

  .project-right .project-description,
  .project-left .project-description {
    border-radius: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .project-description {
    width: 100%;
    align-items: center;
    margin-top: auto;
  }

  .ordered-list,
  .project-links,
  .heading-description {
    display: block;
    width: 57%;
  }

  .project-links {
    display: flex;
  }

  .heading {
    top: 25%;
    z-index: -1;
    font-size: 5.6rem;
  }

  .hero-section__heading {
    height: 35vh;
    z-index: -2;
  }

}

@media (max-width: 43em) {
  .hero-section__cards {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    height: 70vh;
  }

  .hero-section__heading {
    height: 25vh;
  }

  .hero-section__card{
    font-size: 1.6rem;
  }

  .hero-section {
    padding: 0;
  }

  .heading{
    font-size: 4.2rem;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 55%;
  }

  .left-box {
    width: 90%;
  }

  .right-box {
    width: 90%;
    gap: 20px;
    margin: 0 auto;
  }

  .project-img-div {
    width: 75%;
  }

  .grid-item2,
  .grid-item3 {
    width: 500%;
  }

  .projects {
    height: 100rem;
  }

  .project-left .project-images {
    flex-direction: column-reverse;
  }

  .project-right .project-images {
    flex-direction: column;
  }

  .ordered-list,
  .project-links,
  .heading-description {
    display: block;
    width: 80%;
  }

  .desktop-version {
    width: 37rem;
    height: 25rem;
  }

  .project-links {
    display: flex;
    gap: 1rem;
  }

  .visit-link,
  .visit-code-link {
    border-radius: 5px;
  }

  .heading{
    font-size: 3.2rem;
  }
}

@media (max-width: 23rem) {
  html {
    font-size: 50%;
  }

  .project-img-div {
    width: 85%;
  }

  .grid-item2,
  .grid-item3 {
    width: 100%;
    height: 14rem;
    padding: 1rem;
  }

  .languages-icon-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .responsive-grid3-grid4 {
    flex-direction: column;
    height: 30rem;
  }


  .projects {
    height: 95rem;
  }

  .project-description {
    gap: 2rem;
    padding: 0 2rem;
  }

  .desktop-version {
    width: 35rem;
    height: 22rem;
  }

  .mobile-version {
    width: 10rem;
    height: 20rem;
  }

  .ordered-list,
  .project-links,
  .heading-description {
    width: 85%;
  }

  .hero-section{
    height: auto;
  }

  .hero-section__cards {
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    height: 100vh;
  }

  .hero-section__card{
    gap: 1rem;
  }
}
