/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #333
- Tints:


- Shades: 


- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  background-image: linear-gradient(to top left, #3b4044, white);
  font-family: "Roboto", sans-serif;
  color: #333;
}

html {
  /* Now we can use 1rem = 10px 
  everywhere in the document */
  font-size: 62.5%;
}

/* ************************************ */
/* NAVBAR */
/* ************************************ */

.responsive-nav {
  display: none;
}

.nav-container {
  height: 7rem;
  display: flex;
  align-items: center;
}

.nav-ul {
  padding-left: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  line-height: 1.6;
  list-style-type: none;
}

.nav-links {
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 0.9rem;
  gap: 0.8rem;
  border-radius: 7px;
  transition: all 300ms;
}

nav a {
  color: #333;
}

.header-links{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* ************************************ */
/* SECTION STARTS */
/* PROFILE DIV */
/* ************************************ */

.left-box {
  height: 58rem;
  width: 25vw;
  flex-direction: column;
  text-align: center;
  border-top: 5px solid #333;
  border-bottom: 5px solid #333;
  border-radius: 7px;
  padding: 0 2rem;
  background-color: #f8f9fa;
  color: #333;
  gap: 1.6rem;

  & div > h1 {
    font-size: 4.8rem;
  }

  & div > h3 {
    font-size: 2.4rem;
    margin-bottom: 10px;
  }

  & div > h5 {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
  }
}

.my-name{
  font-family: "Ga Maamli", sans-serif;
}

.section {
  display: flex;
  margin: 10px;
  gap: 10px;
}

.my-image-div {
  height: 20rem;
  width: 15rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(/images/my_image_1.png);
  background-size: cover;
  background-position: center;
}

.profile-link-div:hover,
.profile-link-div:active {
  background-color: #dbdbdb;
  border-radius: 7px;

  & > button img{
    fill: white;
  }
}

/* ************************************ */
/* RIGHT MORE DETAIL OF NAVBAR SECTION */
/* ************************************ */

.right-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 58rem;
  width: 73vw;
}

.grid-items {
  background-color: #fafafa;
  border-radius: 7px;
  font-size: 1.6rem;
  line-height: 1.6;
}

.grid-items a {
  color: #333;
  text-decoration: underline;
  font-weight: 600;
}

.grid-button {
  height: 15%;
  align-content: center;
  text-align: center;
  background-color: #ced4da;
  color: #333;
}

/* DIV1 */

.grid-item1 {
  grid-column: 1 / span 2;
  padding: 25px 10px;
}

.responsive-grid3-grid4 {
  grid-column: 3/-1;
  width: 100%;
  display: flex;
  gap: 10px;
}

/* DIV2 */
.grid-item2 {
  width: 50%;
  height: 100%;
  background-color: #e9ecef;
}

.journey-img-div {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 100%;
  /* background-color: red; */
}

.grid-but2 {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  gap: 16px;
  transition: all 0.4s;
}

/* DIV3 */
.grid-item3 {
  background-color: #e9ecef;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  height: 100%;
}

.grid-but3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  height: 100%;
  width: 100%;
  gap: 7px;
  transition: all 0.4s;
}

/* DIV4 */
.grid-item4 {
  grid-row: 2/-1;
}

.achivement-header {
  background-color: #e9ecef;
  text-align: center;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1rem;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s;
}

.achivement-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.achivement-list-item {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

/* DIV5 */
.grid-item5 {
  grid-column: 1/4;
  grid-row: 2/4;
  /* background-color: skyblue; */
}

.project-div {
  height: 85%;
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-img-div {
  display: flex;
  height: 45%;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-content p {
  margin-left: 1rem;
}

.project-content a {
  width: 100%;
}

.project-features {
  margin-left: auto;
  flex-basis: 35%;
  padding: 0 1rem;
}

.project-features ul li {
  text-align: left;
  margin-bottom: 0.5rem;
}

.project-img {
  height: auto;
  width: 30%;
  border-radius: 7px;
}

.grid-but1 {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  gap: 1rem;
  transition: all 0.4s;
}

/* FOOTER */

.footer-heading-description{
  margin-top: 5rem;
  display: block;
  text-align: center;
  font-size: 2.4rem;
}

.languages-icon-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8.5rem;
  height: 9.5rem;
  border-radius: 7px;
  background-color: #e9ecef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.899);
  gap: 1.5rem;
  padding: 1rem;
}

.languages-icon-container {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 2rem;
  /* padding: 1rem; */
}
